<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content padding>
  <p>This Project  made by NightDuck development and the real ideia behind this project is for 
    starters in Ionic learn the basics and how fast you can developer with this awesome framework!!
  </p>
  <p>All the code will be avaliable on my gitlab page  for you guys can get this project submit 
    changes to keep it better 
  </p>
</ion-content>
