  <ion-menu side="left"  [content]="mycontent">
    <ion-content>
      <ion-list>
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-tabs>
  <ion-tab tabIcon="home" tabTitle="Home" [root]="tab1Root"></ion-tab>
  <ion-tab tabIcon="information-circle" tabTitle="About" [root]="tab2Root"></ion-tab>
  <ion-tab tabIcon="md-people" tabTitle="Friends" [root]="tab3Root"></ion-tab>
</ion-tabs>