<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="header">
    <span >Informe seu email abaixo </span>
  </div>
  <div> 
  <ion-list>
   <ion-item class="label">
    <ion-label floating>Email:</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
   </ion-item>
  </ion-list>
</div>
<button class="button" (click)="sendPassword()" ion-button type="submit"full>Enviar Senha</button>
</ion-content>
