page-forgot-password {
    .header{
        text-align: center;
        font-size: 17px;
    }
    .scroll-content{
        background-color:#3b5998;       
          -webkit-background-size:cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }
    .label{
        background-color: transparent;
    }

    .button{
        margin-top: 30px;
    }
}
