<ion-header>
  <ion-navbar  color="danger">
    <ion-buttons  start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
   
  <p>WORKS!!!!</p> 
  
</ion-content>
  
