page-friends {
 .button-md{ 
     width: 200px;
 }
 div{
    text-align: center;
 }

 ul{
    list-style: none;
    
    
 }

 li{
    font-size: 23px;
    text-align: left;
    padding: 10px;
 }
 hr{
     border: solid 1px #000000;
 }
 span{
     float: right;
     cursor: pointer;
     margin-right: 10px;
     position: relative;
 }
 
}
