<!--
  Generated template for the FriendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content padding>
 <ion-list>
   <ion-item>
     <ion-input [(ngModel)]="newFriend" placeholder="Add your friends here"></ion-input>
   </ion-item>
 </ion-list>
<div>
    <button ion-button (click)="presentConfirm()">Add</button>
</div>

<div>
  <ul>
    <li *ngFor="let friend of friends;let ind=index">
      {{friend}}
      <span (click)="removeFriend(ind)">x</span>
      <hr>
    </li>
  </ul>
</div>

</ion-content>
