<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <h1>FACE IONIC</h1>
<div class="infos">
  <ion-list>
    <ion-item class="label"> 
      <ion-input placeholder="Email" type="email"[(ngModel)]="email" name="email" #model="ngModel" required></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item class="label"> 
      <ion-input placeholder="Password" type="password"[(ngModel)]="password" name="password"required></ion-input>
    </ion-item>
  </ion-list>

</div>
<div class="options">
  <a><span (tap)="forgotPassword()">Esqueceu a Senha?</span></a>
  <button ion-button full (click)="signin()">Entrar</button>
  <button ion-button full (click)="signup()">Registrar</button>
</div>

</ion-content>
