page-signin {
    .scroll-content{
      background-color:#3b5998;       
        -webkit-background-size:cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    } 
    .infos{
      
        height: 350px;
        padding-top: 150px;
    }
    .options{    
        text-align: center;
        font-size: 15px;
    }
    .options button{
        margin-top: 20px;
    }
    .label ion-input{
        background-color: #f7f7f7;
    }
    h1{ 
        margin: 0px;
        padding-top:65px;
        color: #ffffff;
        text-align: center;
    }

    .options span{
        color: #ffffff;
    }
}