<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <form (ngSubmit)="onSubmit" #signupForm="ngForm">
    <ion-list>
      <ion-item class="label">
        <ion-label floating>Nome:</ion-label>
        <ion-input full type="text" [(ngModel)]="user.name" name="name" #name="ngModel"required minlength="4"></ion-input>
      </ion-item>
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
              <span>Digite o seu nome</span>
            </div>
            <div *ngIf="name.errors.minlength">
                <span>Digite no minimo 4 letras</span>
            </div>
          </div>

      <ion-item class="label">
          <ion-label floating>Email:</ion-label>
          <ion-input type="text" name="email"[(ngModel)]="user.email" #email="ngModel" required></ion-input>
      </ion-item>

      <div *ngIf="email.invalid &&(email.dirty || email.touched)">
        <div *ngIf="email.errors.required">
          <span>Informe seu email</span>
        </div>
      </div>

      <ion-item class="label">
          <ion-label floating>Confirmar email:</ion-label>
          <ion-input type="text"name="confirmEmail"[(ngModel)]="user.confirmEmail" #confirmEmail="ngModel" required ></ion-input>
      </ion-item>

      <div *ngIf="confirmEmail.invalid && (confirmEmail.dirty || confirmEmail.touched)">
        <div *ngIf="confirmEmail.errors.required">
          <span>Confirme seu email</span>
        </div>
      </div>

      <div class="form-error" *ngIf="user.email != user.confirmEmail &&  confirmEmail.touched">
          <span>Email e confirmar email devem ser iguais</span>
      </div>

      <ion-item class="label" >
          <ion-label floating>Senha:</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="6" ></ion-input>
      </ion-item>

      <div *ngIf="password.invalid &&(password.dirty || password.touched)">
        <div *ngIf="password.errors.required">
          <span>Digite a sua senha</span>
        </div>
        <div *ngIf="password.errors.minlength">
          <span>A sua senha tem que ser no minimo 6 digitos</span>
        </div>
      </div> 

      <ion-item class="label">
          <ion-label floating>Confirmar senha:</ion-label>
          <ion-input type="password" name="confirmPassword"[(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required minlength="4" ></ion-input>
      </ion-item>

      <div *ngIf="confirmPassword.invalid &&(confirmPassword.dirty || confirmPassword.touched)">
        <div *ngIf="confirmPassword.errors.required">
          <span>Confirme sua senha por favor</span>
        </div>
        <div *ngIf="confirmPassword.errors.minlength">
          <span>Sua senha tem que ser no minimo 6 digitos</span>
        </div>
      </div>
      
      <div *ngIf="user.password !=user.confirmPassword && confirmPassword.touched">
          <span>As senhas devem ser iguais</span>
      </div>
    </ion-list>
    <button ion-button block type="submit" [disabled]="signupForm.form.invalid" class="options"(tap)="formSubmit()">Cadastrar</button>
  </form>
  </div>
    
</ion-content>
